body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box !important;
    background: #fbf9f5;
    
}
.nav-item img{
    height: 50px;   
}

table{
    margin-top: 10px;
}
.navbar-custom{
    color: rgb(37, 34, 34) !important;
}
.nav-link.active{
    background-color:#6c757d !important;
    color: honeydew !important;

}
form{
    display: block;
    
}
.row{
    margin-top: 60px;
    width: 90%;
}
.modal-content{

    border:#6c757d 2px solid;
    border-radius: 2% ;
    height: 348.64px;
    width: 699.3px;
    
  
  }


.main-body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.main-body h1 {
    text-align: center;
    font-size: 4.5rem;
    z-index: 1;
    color: white;
    padding: 250px;

}
.mb-section{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    
}


.modal {
    color: black;
    font-family: 'Fira';
}



button.close {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 40px;
}
.cemp-dash{
    margin-bottom: -40px;
    margin-top: 10px;
}
.success-modal h3{
 
   padding-left: 60px;    padding-top: 90px;
}
h3{
    padding-left: 60px;
}
#td-img{
    height: 40px;
}

footer {
    height: 250px;    
    background: #212529;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 50px 0 50px;
}

footer .top-section {
    display: flex;
    justify-content: space-between;
}

footer .top-section h4 {
    font-weight: bold;
}

.copyright-section {
    display: flex;
    justify-content: space-between;
}

.copyright-section .copyright {
    font-size: 0.8rem;
}

.social-media-icons span{
    display: flex;
}

.social-media-icons span img {
    max-width: 20px;
}

footer .top-section a:hover {
    color: rgb(202, 187, 187);
}

