body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box !important;
    background: #fbf9f5;
    
}
.nav-item img{
    height: 50px;
    
}
form{
    display: block;
    
}
.row{
    margin-top: 60px;
    width: 100%;
}
.modal-content{

    border:red 1px solid;
    border-radius: 2% ;
    height: 348.64px;
    width: 699.3px;
    
  
  }


.main-body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../images/sterlinglogo.png);
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
}

.main-body h1 {
    text-align: center;
    font-size: 4.5rem;
    z-index: 1;
    color: white;
    padding: 250px;

}
.mb-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.modal {
    color: black;
    font-family: 'Fira';
}



button.close {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 40px;
}
.cemp-dash{
    margin-bottom: 30px;
    margin-top: 20px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: gray;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    position: fixed;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }